##
## Copyright (c) 2022 QASS GmbH.
## Website: https://qass.net
## Contact: QASS GmbH <info@qass.net>
##
## This file is part of Qass tools 
##
## This program is free software: you can redistribute it and/or modify
## it under the terms of the GNU Lesser General Public License as published by
## the Free Software Foundation, version 3 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public License
## along with this program. If not, see <http://www.gnu.org/licenses/>.
##
image: python:3.9

stages:
  - test
  - deploy

test-docs:
  stage: test
  script:
    - pip install .[docs]
    - mkdir ./docs/source/_static
    - sphinx-build -b html ./docs/source public
  only:
    - tags
    - merge_requests

test-package:
  stage: test
  script:
    - pip install .[test]
    - pytest --cov
  coverage: /TOTAL.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  only:
    - tags
    - merge_requests

build-package:
  stage: deploy
  script:
    - cat $PYPIRC > /tmp/.pypirc
    - pip install --upgrade pip
    - python3 -m pip install --upgrade build
    - pip install --upgrade twine
    - python3 -m build
    - python3 -m twine upload --verbose --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi -u gitlab-ci-token -p ${CI_JOB_TOKEN} dist/*
    - python3 -m twine upload --repository pypi dist/* --config-file /tmp/.pypirc
  only:
    - tags

pages:
  stage: deploy
  script:
    - pip install sphinx
    - pip install sphinx_rtd_theme sqlalchemy numpy tqdm
    - pip install --no-deps .
    - mkdir ./docs/source/_static
    - sphinx-build -b html ./docs/source public
  artifacts:
    paths:
      - public
  only:
    - tags
